extends layout

block content
    li
        a(href="/") Home
    
    p Ranking:
    p Total number of languages #{total}
    ul
        each lang in languages
            ul
                li #{lang}