extends layout

block content
    li
        a(href="/") Home
    li
        a(href="/world/createWorld") Create/update

    ul
    each obj in worldData 
        each value, key in obj
            li= `${key}: ${value}`
        br
    